<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  
<img src="assets/img/logo_qtom.png" width="30" height="30" class="d-inline-block align-top" alt="">
  <!-- Example split danger button -->
  
   
  
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle rounded-circle"  data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
      <img src="https://img6.androidappsapk.co/300/7/3/a/com.profile.admires_stalkers_unknown.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </button>
    <div class="dropdown-menu dropdown-menu-lg-right dropdown-menu-lg-right">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>
</nav>